@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul, li {
    padding: 0;
    margin: 0;
    list-style: none;
}
body {
    font-family: 'Poppins', sans-serif;
}

/* Variables */

.flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}
.flexAround {
    display: flex;
    justify-content: space-around;
}
.flexBetween {
    display: flex;
    justify-content: space-between;
}
.border {
    border: 1px solid black;
}
.relative {
    position: relative;
}
.absolute {
    position: absolute;
}
.fixed {
    position: fixed;
}
.hidden {
    display: none;
}
.pointer {
    cursor: pointer;
}
.w-full {
    width: 100%;
}

/* layout */

.layout {
    max-width: 1400px;
    margin: auto;
}

/* Navbar */
.navbar {
    top: 0;
    left: 0;
    width: 100%;
    background: white;
    z-index: 2;
}
.logo {
    width: 150px;
    height: 100px;
    align-items: center;
}
.navMenu-items {
    margin-left: 20px;
    gap: 20px;
    position: relative;
}
.nav-dropdown {
    width: fit-content;
    top: 3rem;
    left: 3.5rem;
    background-color: white;
    display: none;
}
.nav-dropdown li {
    padding: 10px;
}
.nav-menu {
    display: block;
    list-style: none;
    text-decoration: none;
    color: inherit;
}
.navMenu-items:hover .nav-dropdown {
    display: block;
}
.nav-dropdown:hover {
    display: block;
}

/* Hamburger */
.hamburger {
    display: flex;
    align-items: center;
    margin-right: 20px;
    z-index: 2;
}
.burger {
    position: relative;
    width: 40px;
    height: 30px;
    background: transparent;
    cursor: pointer;
    display: block;
}

.burger input {
    display: none;
}

.burger span {
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    background: black;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
}

.burger span:nth-of-type(1) {
    top: 0px;
    transform-origin: left center;
}

.burger span:nth-of-type(2) {
    top: 50%;
    transform: translateY(-50%);
    transform-origin: left center;
}

.burger span:nth-of-type(3) {
    top: 100%;
    transform-origin: left center;
    transform: translateY(-100%);
}

.burger input:checked ~ span:nth-of-type(1) {
    transform: rotate(45deg);
    top: 0px;
    left: 5px;
}

.burger input:checked ~ span:nth-of-type(2) {
    width: 0%;
    opacity: 0;
}

.burger input:checked ~ span:nth-of-type(3) {
    transform: rotate(-45deg);
    top: 28px;
    left: 5px;
}
/* hamburger sidebar */
.sidebar {
    display: flex;
    flex-direction: column;
    width: 300px;
    min-height: 100vh;
    position: fixed;
    top: 101px;
    right: -110%;
    z-index: 2;
    background-color: white;
    transition: 0.4s ease;
}
.sidebar.hamActive {
    right: 0;
}
.hamburger-links {
    width: 100%;
    padding: 20px;
    text-decoration: none;
    color: inherit;
}
.hamburger-links:hover {
    color: #998181;
}

/* Profile */
.pfp-container {
    margin-top: 150px;
    width: 100%;
    gap: 50px;
}
.pfp-details {
    flex-direction: column;
    text-align: center;
}
.circle {
    width: 250px;
    height: 250px;
    border-radius: 50%;
}
.pfp {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}
.add-pfp {
    bottom: 0;
    right: 0;
    cursor: pointer;
}
.message-box {
    width: 100px;
    padding: 10px;
    border-radius: 5px;
    margin-top: 50px;
}
.msg-num {
    width: 30px;
    height: 30px;
    top: 0;
    right: 0;
    background-color: lightgrey;
    color: red;
    border-radius: 50%;
    transform: translate(50%, -50%);
}
.postEdits-container {
    margin-top: 50px;
    gap: 10px;
}

/* profile posts*/ 
.profilePosts-container {
    margin-top: 100px;
    flex-direction: column;
    gap: 40px;
}
.new-Post {
    border-radius: 10px;
    padding: 20px;
}
.new-Post:hover {
    transition: 0.3s ease;
    scale: 1.03;
}
.my-Post {
    border-radius: 10px;
    padding: 20px;
}
.my-Post:hover {
    transition: 0.3s ease;
    scale: 1.03;
}
.accept-Post {
    border-radius: 10px;
    padding: 20px;
}
.accept-Post:hover {
    transition: 0.3s ease;
    scale: 1.03;
}
.acceptPost-content{
    gap: 10px;
}
.myPost-content{
    gap: 10px;
}
.profileCircle {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}
.acceptPost-text {
    max-width: 500px;
}
.acceptPost-buttons {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}
.myPost:hover, .newPost:hover, .acceptPost:hover {
    scale: 1.05;
    transition: 0.3s ease;
}
.myPost.active, .newPost.active, .acceptPost.active {
    color: blue;
    font: bold;
}
.myPost-buttons {
    width: 100px;
    margin: auto;
    margin-top: 30px;
}
.read-more-btn {
    color: rgb(165, 165, 165);
}
.read-more-btn:hover {
    color: rgb(66, 66, 66);
}
.acceptPost-buttons {
    gap: 30px;
}
.trashIcon {
    bottom: 10px;
    right: 10px;
}
.delete-acceptPost {
    font-size: 1.2rem;
    color: blue;
}
.delete-acceptPost:hover {
    color: red;
}
.myPost-svgs {
    top: 10px;
    right: 20px;
    gap: 10px;
}
.myPost-circle {
    border-radius: 50%;
    width: 30px;
    height: 30px;
}

/* add post */
.newPost-container {
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 3;
    background-color: rgba(0, 0, 0, 0.5);
}
.newPost-content {
    background-color: white;
    padding: 20px 50px;
    border-radius: 15px;
    max-height: 90vh;
    overflow: scroll;
    scrollbar-width: 0;
}
.newPost-content::-webkit-scrollbar {
    width: 10px;
  }
.newPost-content::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
.newPost-content::-webkit-scrollbar-thumb {
    background: #888; 
  }
.newPost-content::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
.newPost-form {
    flex-direction: column;
    gap: 20px;
}
.categories1 {
    gap: 20px;
}
.categories2 {
    gap: 20px;
}
.category-circle {
    width: 50px;
    height: 50px;
    border: 2px solid black;
    border-radius: 50%;
    background-color: white;
}
.category-circle svg {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.category-text {
    width: fit-content;
    margin: auto;
}
.addPost-btn {
    padding: 10px 30px;
    background: none;
    border-radius: 5px;
    align-self: flex-end;
}
.dropdown {
    padding: 10px 20px;
}
.select {
    min-width: 80px;
    gap: 10px;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    transition: background 0.3s;
}
.caret {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 6px solid black;
    transition: 0.3s;
}
.caret-rotate {
    transform: rotate(180deg);
}
.dropdown-menu {
    padding: 5px 10px;
    background: white;
    border-radius: 5px;
    top: 3em;
    left: 50%;
    width: 100%;
    transform: translateX(-50%);
    display: none;
    opacity: 0;
    transition: 0.3s;
    z-index: 5;
}
.dropdown-menu-open {
    display: block;
    opacity: 1;
}
.addPost-textInput {
    padding: 5px 10px;
    border-radius: 5px;
}
.addPost-textInput2 {
    min-height: 200px;
}
.addPost-x {
    top: 10px;
    right: 20px;
    font-size: 2rem;
    cursor: pointer;
    color: grey;
}
.addPost-x:hover {
    color: black;
}

/* profile carousel */
.profile-carousel {
    margin-top: 100px;
}
.carousel-slide {
    inset: 0;
    display: none;
    opacity: 0;
    transition: 200ms opacity ease-in-out;
}
.carousel-slide[data-active] {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    opacity: 1;
}
.profileCarousel-button{
    z-index: 1;
    background: none;
    border: none;
    top: 50%;
    background-color: rgb(0, 0, 0, 0.5);
    color: rgb(255, 255, 255, 0.5);
    border-radius: 50%;
    font-size: 4rem;
    padding: 0 0.5rem;
    transform: translateY(-50%);
}
.profileCarousel-button:hover {
    color: white;
    background-color: black;
    transition: 0.3s ease;
}
.profileCarousel-button:focus {
    outline: 1px solid white;
}
.profileCarousel-button.prev {
    left: 50px;
}
.profileCarousel-button.next {
    right: 50px;
}
.carouselPost {
    padding: 20px;
    border-radius: 10px;
}
.carouselPost-pic {
    width: 500px;
    height: 350px;
}

/* footer */
.profileFooter {
    margin-top: 100px;
    height: 500px;
    border-radius: 10px;
    background-color: #E1E1EA;
}

/* Responsiveness */
@media screen and (max-width: 1024px) {
    /* make navbar jump to bottom */
    .navbar {
        top: auto;
        bottom: 0;
    }
    .pfp-container {
        margin-top: 50px;
    }
    .sidebar {
        top: auto;
        bottom: 101px;
        justify-content: flex-end;
    }
    .profileFooter {
        margin-bottom: 100px;
    }
    .nav-dropdown {
        top: auto;
        bottom: 3rem;
    }
 }

 @media screen and (max-width: 768px) {
    /* profile picture fix */
    .pfp-container {
        flex-wrap: wrap;
    }
    .carouselPost {
        max-width: 90%;
    }
    .carouselPost-pic {
        max-width: 100%;
    }
    .profileCarousel-button {
        font-size: 3rem;
    }
 }

 @media screen and (max-width: 600px) {
    .newPost-content {
        max-width: 90%;
        max-height: 90%;
        overflow: scroll;
    }
    .categories1, .categories2 {
        flex-wrap: wrap;
    }
    .profileHeader {
        padding: 0 10px;
    }
    .profileMain {
        padding: 0 10px;
    }
    .postEdits-container {
        flex-wrap: wrap;
    }
    .carouselPost {
        max-width: 90%;
        height: auto;
    }
    .carouselPost-pic {
        max-width: 100%;
        min-height: 250px;
        height: auto;
    }
    .profileCarousel-button {
        font-size: 2rem;
    }
    .profileCarousel-button.next {
        right: 10px;
    }
    .profileCarousel-button.prev {
        left: 10px;
    }
    .profileCircle {
        width: 50px;
        height: 50px;
    }
    .profileCircle svg {
        width: 30px;
        height: 30px;
        border-radius: 50%;
    }
 }

 @media screen and (max-width: 480px) {
    .navMenu-items {
        display: none;
    }
    .myPost-content {
        margin-top: 30px;
    }
 }